.footer{
	background: url(../img/backgrounds/triangles.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 10;

	@media screen and (max-width: 991px){
		background-attachment: scroll;
	}

	.footer-row{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		color: rgba(#fff, .7);
		display: flex;

		&.first{
			padding: 40px 0 65px;
		}

		&.second{
			padding: 30px 0 22px;
			position: relative;
			align-items: center;

			&:before,
			&:after{
				content: '';
				display: block;
				width: 100vw;
				height: 1px;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}

			&:before{
				background: #000;
				top: -1px;
				opacity: .4;
			}

			&:after{
				background: #fff;
				opacity: .07;
			}
		}

		.footer-block{
			padding: 0 15px;
			width: 25%;

			&.wide{
				width: 50%;
			}
		}

		@media screen and (max-width: 767px){
			flex-wrap: wrap;

			&.first{
				padding: 40px 0;
			}

			.footer-block{
				width: 100%;

				&.wide{
					width: 100%;
				}
			}
		}
	}
}

.footer-phone-link{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	transition: all $t;
	letter-spacing: 0.05em;

	&:hover{
		color: $primary;
	}

	@media screen and (max-width: 991px){
		font-size: 15px;
	}
}

.socials-list{
	.item{
		margin-bottom: 20px;
		display: flex;
		align-items: flex-start;

		.item-icon{
			width: 16px;
			flex: none;
			margin-right: 10px;
			padding-top: 4px;

			i{
				display: block;
			}
		}

		.item-text{
			font-size: 14px;
			line-height: 22px;
			color: rgba(#fff, .7);

			a{
				color: rgba(#fff, .7);
				text-decoration: none;

				&:hover{
					color: $primary;
				}
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.category-link{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 16px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	transition: all $t;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: block;

	&:hover{
		color: $primary;
	}
}

.footer-nav{
	list-style: none;

	li{
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			font-size: 14px;
			line-height: 20px;
			color: rgba(#fff, .7);
			text-decoration: none;

			&:hover{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}
}

.copyright{
	font-size: 14px;
	line-height: 20px;
	opacity: .7;
}

.footer-logo,
.webolution{
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 767px){
	.footer-logo{
		margin-bottom: 20px;
		display: block;
	}

	.copyright{
		margin-top: 20px;
	}
}