.push{
	position: relative;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-right,
.flex-end{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}