*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 15px;
	line-height: 24px;
}

body{
	color: $text-color;
	font-family: $main-font;
	background: $body-bg;
	overflow-x: hidden;
}

a, button{
	text-decoration: none;
	transition: all $t;
	outline: none !important;
	border: none;
}

a img{
	outline: none !important;
	border: none !important;
}

ul, ol{
	list-style: none;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;

	.page{
		flex: auto;
	}

	.footer{
		flex: none;
	}

	.post-content{
		padding-bottom: 80px;
	}

	.page-content{
		&.inner-page{
			padding-top: 174px;

			@media screen and (max-width: 991px){
				padding-top: 112px;
			}
		}
	}
}

.modal{
	.modal-content{
		border: 0;
		border-radius: 15px;

		.modal-body{
			padding: 45px 35px;

			@media screen and (max-width: 767px){
				padding: 35px 25px;
			}
		}
	}

	.modal-dialog{
		margin-top: 60px;

		@media screen and (max-width: 575px){
			width: calc(100% - 30px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.modal-close{
		position: absolute;
		right: 8px;
		top: 12px;
		z-index: 5;
		border-radius: 50%;
		cursor: pointer;
		width: 36px;
		height: 36px;
		border: 2px solid #ebebeb;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all $t;

		&:hover{
			border-color: $primary;
		}

		i{
			display: block;
			cursor: pointer;
		}

		@media screen and (max-width: 767px){
			width: 30px;
			height: 30px;
		}
	}

	.modal-caption{
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 15px;
		position: relative;
		margin-bottom: 25px;
		text-align: center;
		font-weight: 400;
		color: $text-dark;

		&.big{
			font-size: 32px;
			line-height: 36px;
		}

		.small{
			font-size: 20px;
			display: block;
			padding-top: 5px;

			@media screen and (max-width: 767px){
				font-size: 16px;
				line-height: 20px;
			}
		}

		&:after{
			content: '';
			display: block;
			width: 30px;
			height: 2px;
			background: #e9e9e9;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}
	}

	.sucess-message{
		display: flex;
		align-items: center;
		flex-direction: column;

		p{
			font-size: 20px;
			line-height: 1.3;
			color: $text-dark;
			font-weight: 400;
			text-align: center;
			margin-bottom: 30px;
		}

		img{
			display: block;
		}
	}

	.modal-form{
		.form-fields{
			margin-bottom: 25px;
		}

		.form-footer{
			display: flex;
			align-items: center;
			justify-content: center;

			.btn{
				width: 215px;
			}
		}
	}

	&.narrow{
		.modal-dialog{
			max-width: 370px;
		}
	}
}

.cards-list{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -30px;

	> .item{
		padding: 0 15px;
		margin-bottom: 30px;
	}

	&.columns-5{
		> .item{
			width: 20%;
		}
	}

	&.columns-4{
		> .item{
			width: 25%;

			&.wide{
				width: 50%;
			}
		}
	}

	&.columns-3{
		> .item{
			width: 33.3333%;
		}
	}

	&.columns-2{
		> .item{
			width: 50%;
		}
	}

	@media screen and (max-width: 1199px){
		&.lg-columns-3{
			> .item{
				width: 33.333%;

				&.wide{
					// width: 66.6667%;
					display: none;
				}
			}
		}

		&.lg-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.lg-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 991px){
		&.md-columns-3{
			> .item{
				width: 33.333%;

				&.wide{
					width: 66.6667%;
					display: none;
				}
			}
		}

		&.md-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.md-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 767px){
		&.sm-columns-2{
			> .item{
				width: 50%;

				&.wide{
					width: 100%;
				}
			}
		}

		&.sm-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 575px){
		&.xs-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.xs-columns-1{
			> .item{
				width: 100%;

				&.wide{
					display: none;
				}
			}
		}
	}
}

.triangles-bg{
	background: url(../img/backgrounds/triangles.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;

	@media screen and (max-width: 991px){
		background-attachment: scroll;
	}
}

.slick-slider{
	.slide{
		outline: none !important;
	}

	&.slider-default-paddings{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		
		.slide{
			padding: 0 15px;
		}
	}

	&.slick-dotted{
		margin-bottom: 40px !important;
	}

	.slick-dots{
		bottom: -40px;

		li{
			margin: 0 3px;
			width: 6px;
			height: 6px;

			button{
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #cecece;
				transition: all $t;
				box-sizing: border-box;
				padding: 0;

				&:hover{
					background: $primary;
				}

				&:before{
					display: none;
				}
			}

			&.slick-active{
				button{
					background: $primary;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		&.slick-dotted{
			margin-bottom: 30px !important;
		}

		.slick-dots{
			bottom: -30px;
		}
	}
}

.slick-arrow{
	width: 60px;
	height: 60px;
	border: 1px solid #d7d7d7;
	display: flex;
	align-items: center;
	justify-content: center;

	&:before{
		content: '';
		display: block;
		width: 15px;
		height: 24px;
		background: url(../img/icons/slider-arrows.png) no-repeat;
	}

	&.slick-prev{
		&:before{
			background-position: left center;
		}
	}

	&.slick-next{
		&:before{
			background-position: right center;
		}
	}

	.white-arrows &{
		&:before{
			background-image: url(../img/icons/slider-arrows-white.png);
		}
	}

	.no-borders &{
		border: 0;

		&:before{
			opacity: 1;
		}
	}

	@media screen and (max-width: 1199px){
		width: 44px;
		height: 44px;
	}
}

.slider-pagination{
	display: flex;
	align-items: flex-start;
	color: $text-dark;

	&.white{
		color: #fff;
	}

	.current{
		font-size: 42px;
		line-height: 28px;
		padding-bottom: 10px;
		border-bottom: 2px solid $primary;
		margin-right: 0.3em;
	}

	.divider,
	.total{
		font-size: 22px;
		line-height: 20px;
		font-weight: 300;
	}

	.divider{
		margin-right: 0.3em;
	}
}

.section-default-paddings{
	padding: 85px 0 !important;
}

.section-small-paddings{
	padding: 40px 0 !important;
}

.section-default-padding-top{
	padding-top: 85px !important;
}

.section-small-padding-top{
	padding-top: 40px !important;
}

.section-default-padding-bottom{
	padding-bottom: 85px !important;
}

.section-small-padding-bottom{
	padding-bottom: 40px !important;
}

a[href^="tel:"]{
	white-space: nowrap;
}