.about-pack-section{
	padding: 45px 0 85px;

	.section-image{
		position: relative;

		img{
			display: block;
			max-width: 100%;
			height: auto;
			margin-top: -5.12%;
		}

		p{
			max-width: 55%;
			margin-top: -20px;
		}
	}
}