.factory-about-section{
	padding: 85px 0 40px;

	.stats-list{
		margin-top: 55px;
		position: relative;
		z-index: 2;
	}

	.section-image{
		position: relative;
		margin-bottom: 55px !important;

		p{
			// position: absolute;
			max-width: 55% !important;
			margin-left: 43%;
			// right: 11%;
			// top: 8%;
			// margin-right: 10%;
			// float: right;
			position: relative;
			margin-bottom: -70px;
			margin-top: 0 !important;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
			margin-top: -8%;
			margin-bottom: -11.2%;
		}
	}

	.section-caption{
		margin-bottom: 45px;
	}
}