.paper-catalogs-section{
	padding: 85px 0 40px;
}

.paper-catalog-card{
	position: relative;
	transition: all $t;

	.card-image{
		position: relative;
		width: 100%;
		margin-bottom: 25px;

		&:before{
			content: '';
			display: block;
			padding-top: 129.6296%;
		}

		img{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}

	.card-name{
		font-size: 20px;
		line-height: 1.3;
		color: #2c2c2c;
		text-decoration: none;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&:hover{
		transform: scale(1.03) rotate(-0.5deg);

		.card-name{
			color: $primary;
		}
	}
}