.services-section{
	padding: 40px 0;
}

.service-card{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 35px 40px;
	text-align: center;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid #e9e9e9;
		position: absolute;
		left: 0;
		top: 0;
	}

	.card-image{
		height: 130px;
		flex: none;
		margin-bottom: 30px;
		position: relative;
		z-index: 2;

		&:not(.no-crop){
			width: 130px;
			border-radius: 50%;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-content{
		width: 100%;
		color: #2c2c2c;
		position: relative;
		z-index: 2;

		.card-name{
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		p{
			font-size: 14px;
			line-height: 22px;
			letter-spacing: -0.02em;
			transition: all $t;
		}
	}

	.card-btn{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 35px 40px;
		visibility: hidden;
		// background: $body-bg;
		transition: all $t;
		transform: translateY(50px);
		opacity: 0;
		z-index: 3;
		width: 100%;
		border: 1px solid transparent;

		.btn{
			width: 100%;
		}
	}

	&:hover{
		.card-btn{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}

		.card-content{
			p:not(.card-name){
				opacity: 0;
			}
		}
	}
}