.header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	transition: all $t;
	padding-bottom: 24px;

	.header-row{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		align-items: center;
		justify-content: space-between;
		transition: all $t;

		&.first{
			padding: 24px 0;
		}

		.header-block{
			padding: 0 15px;
		}
	}

	.on-sticky{
		display: none;
	}

	&.sticky{
		padding-bottom: 12px;
		background: #fff;
		box-shadow: $shadow;

		.header-row{
			&.first{
				padding: 12px 0;
			}
		}

		.on-sticky{
			display: block;
		}

		.hide-on-sticky{
			display: none;
		}
	}

	&.white{
		background: #fff;
		box-shadow: $shadow;

		.on-sticky{
			display: block;
		}

		.hide-on-sticky{
			display: none;
		}
	}

	@media screen and (max-width: 1199px){
		.order-call-btn{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 11px;
		}
	}

	@media screen and (max-width: 991px){
		display: none;
	}
}

.mobile-header{
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 100;
	transition: all $t;
	display: none;

	.header-row{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		align-items: center;
		justify-content: space-between;
		transition: all $t;

		&.first{
			padding: 12px 0;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: calc(100% - 30px);
				height: 1px;
				position: absolute;
				left: 15px;
				bottom: 0;
				background: rgba(#fff, .21);
				transition: all $t;
			}
		}

		&.second{
			padding: 12px 0;
		}

		.header-block{
			padding: 0 15px;
		}
	}

	&.sticky,
	&.white{
		.header-row{
			&.first{
				&:before{
					background: #d7d7d7;
				}
			}
		}
	}

	.on-sticky{
		display: none;
	}

	&.sticky{
		background: #fff;
		box-shadow: $shadow;

		.on-sticky{
			display: block;
		}

		.hide-on-sticky{
			display: none;
		}

		.header-row{
			&.first{
				padding: 6px 0;
			}

			&.second{
				padding: 8px 0;
			}
		}
	}

	&.white{
		background: #fff;
		box-shadow: $shadow;

		.on-sticky{
			display: block;
		}

		.hide-on-sticky{
			display: none;
		}
	}

	@media screen and (max-width: 991px){
		display: block;
	}
}

.phone-link{
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	display: flex;
	align-items: center;
	transition: all $t;
	letter-spacing: 0.025em;

	&:hover{
		color: $primary;
	}

	i{
		margin-right: 7px;
		display: block;
	}

	&.big{
		font-size: 30px;
		line-height: 1;

		i{
			margin-right: 15px;
		}
	}

	.sticky &,
	.white &,
	&.dark{
		color: #262626;

		&:hover{
			color: $primary;
		}
	}

	@media screen and (max-width: 991px){
		font-size: 14px;
		line-height: 1.05;
	}
}

.header-actions-list{
	display: flex;
	align-items: center;

	.item{
		padding-right: 15px;
		margin-right: 15px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 20px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: rgba(#fff, .21);
		}

		&:last-child{
			margin-right: 0 !important;
			padding-right: 0 !important;

			&:after{
				display: none;
			}
		}

		i{
			display: block;
		}

		@media screen and (max-width: 991px){
			padding-right: 10px;
			margin-right: 10px;
		}
	}
}

.top-nav{
	display: flex;
	list-style: none;
	margin-left: -15px;

	> li{
		margin-right: 10px;
		position: relative;

		&:last-child{
			margin-right: 0;
		}

		> a{
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 25px;
			letter-spacing: -0.025em;
			transition: all $t;
			display: block;
			padding: 10px 15px;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: $primary;
				position: absolute;
				left: 0;
				bottom: -24px;
				transition: all $t;
				opacity: 0;
			}

			&:hover{
				color: $primary;
			}

			.sticky &,
			.white &{
				color: #262626;

				&:hover{
					color: $primary;
				}
			}

			.sticky &{
				&:after{
					bottom: -12px;
				}
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: $primary !important;

				&:after{
					opacity: 1;
				}
			}
		}
		
		&.current-menu-item{
			> a{
				cursor: default;
			}
		}

		.sub-menu{
			padding: 10px 15px;
			background: #fff;
			// border: 2px solid $primary;
			border-radius: 15px;
			// display: none;
			box-shadow: $shadow;
			position: absolute;
			top: 100%;
			left: 0;
			width: 250px;
			transform: translateY(50px);
			opacity: 0;
			visibility: hidden;
			transition: all $t;
			z-index: 5;

			li{
				margin-right: 0;

				a{
					color: $text-dark;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 0.05em;
					text-transform: none;
					padding: 5px 0;
					display: block;

					&:hover{
						color: $primary;
					}
				}

				&.current-menu-item{
					a{
						color: $primary;
						cursor: default;
					}
				}
			}
		}

		&:hover{
			.sub-menu{
				visibility: visible;
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: 1199px){
		margin-left: -10px;

		li{
			margin-right: 3px;

			a{
				font-size: 13px;
				padding: 10px;
			}
		}
	}
}

.logo-block{
	display: inline-flex;

	img{
		display: block;
		max-width: 100%;
		height: 50px;
		transition: all $t;

		.sticky &{
			height: 35px;
		}

		@media screen and (max-width: 991px){
			height: 35px;

			.sticky &{
				height: 24px;
			}
		}
	}
}